In [1]:
import pandas as pd
import sqlite3
con = sqlite3.connect("mlflow.db")
df = pd.read_sql_query("SELECT * FROM experiments", con)
display(df)
df = pd.read_sql_query("SELECT * FROM metrics", con)
display(df)
sql_query = """SELECT name FROM sqlite_master  
  WHERE type='table';"""
df = pd.read_sql_query(sql_query, con)
display(df)

,experiment_id,name,artifact_location,lifecycle_stage,creation_time,last_update_time
0,0,Default,/home/jovyan/mlruns/0,active,1699528437211,1699528437211

,key,value,timestamp,run_uuid,step,is_nan
0,training_mean_squared_error,8.118260,1699528915829,b2dd161f47254c8aad7221d37f49c74a,0,0
1,training_mean_absolute_error,0.428178,1699528915829,b2dd161f47254c8aad7221d37f49c74a,0,0
2,training_r2_score,0.987383,1699528915829,b2dd161f47254c8aad7221d37f49c74a,0,0
3,training_root_mean_squared_error,2.849256,1699528915829,b2dd161f47254c8aad7221d37f49c74a,0,0
4,training_score,0.987383,1699528922741,b2dd161f47254c8aad7221d37f49c74a,0,0
5,training_mean_squared_error,9.600416,1699528988707,06d85c320a1b4d2da49401217e373d05,0,0
6,training_mean_absolute_error,0.504210,1699528988707,06d85c320a1b4d2da49401217e373d05,0,0
7,training_r2_score,0.985079,1699528988707,06d85c320a1b4d2da49401217e373d05,0,0
8,training_root_mean_squared_error,3.098454,1699528988707,06d85c320a1b4d2da49401217e373d05,0,0
9,training_score,0.985079,1699528993217,06d85c320a1b4d2da49401217e373d05,0,0
10,training_mean_squared_error,8.903966,1699540265093,5ca7d85928b647a59371ffb00ce05b30,0,0
11,training_mean_absolute_error,0.455598,1699540265093,5ca7d85928b647a59371ffb00ce05b30,0,0
12,training_r2_score,0.986161,1699540265093,5ca7d85928b647a59371ffb00ce05b30,0,0
13,training_root_mean_squared_error,2.983951,1699540265093,5ca7d85928b647a59371ffb00ce05b30,0,0
14,training_score,0.986161,1699540267837,5ca7d85928b647a59371ffb00ce05b30,0,0

                        name
0                experiments
1            alembic_version
2            experiment_tags
3                       tags
4          registered_models
5                       runs
6      registered_model_tags
7         model_version_tags
8             model_versions
9             latest_metrics
10                   metrics
11                    params
12  registered_model_aliases
13                  datasets
14                    inputs
15                input_tags